.App {
  text-align: center;
}
.side-menu {
  border-right: solid 1px gainsboro;
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
  height: 100%;
}

.side-menu .list-group-item {
  background-color: #f1f1f1;
}

.side-menu .active {
  background-color: gray;
  border: none;
}

.spinner-container {
  position: fixed;
  height: 100%;
  display: flex;
  margin-top: -100 !important;
  margin-left: -200 !important;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .side-menu {
    position: inherit;
    height: auto;
  }
  .spinner-container {
    margin-top: auto;
    margin-left: auto;
  }
}

.details-form {
  border: solid 1px gainsboro;
  margin: 5px;
  padding: 10px;
}
