.App {
  text-align: center;
}
.side-menu {
  border-right: solid 1px gainsboro;
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
  height: 100%;
  color: gray;
}

.side-menu .list-group-item {
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 12px;
}

a {
  color: gray;
}
.side-menu .active {
  color: green;
  font-weight: bold;
  border: none;
}

.spinner-container {
  position: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-form {
  border: solid 1px gainsboro;
  margin: 5px;
  padding: 10px;
}

.table {
  font-size: 14px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
input,
select {
  font-size: 12px;
}

.container-files {
  background-color: white;
  border: #f1f1f1 dotted 1px;
  padding: 5px;
}

.container-files:hover {
  background-color: gainsboro;
  border: blue dotted 1px;
}

.upload-file:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  width: auto;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 2px;
}

.chip .item {
  float: right;
  font-size: 12px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.chip .item-text {
  margin-left: 10px;
}

.color-circle {
  width: 50px;
  height: 25px;
  cursor: inherit;
  margin: none;
  padding: none;
  border: none;
}

@media only screen and (max-width: 768px) {
  .side-menu {
    position: inherit;
    height: auto;
  }
}
