.App {
  text-align: center;
}
.side-menu {
  border-right: solid 1px gainsboro;
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
  height: 100%;
}

.side-menu .list-group-item {
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 12px;
}

.side-menu .active {
  background-color: gray;
  border: none;
}

.spinner-container {
  position: fixed;
  height: 100%;
  display: flex;
  margin-top: -100 !important;
  margin-left: -200 !important;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .side-menu {
    position: inherit;
    height: auto;
  }
  .spinner-container {
    margin-top: auto;
    margin-left: auto;
  }
}

.details-form {
  border: solid 1px gainsboro;
  margin: 5px;
  padding: 10px;
}

.table {
  font-size: 14px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
input,
select {
  font-size: 12px;
}

.container-files {
  background-color: white;
  border: #f1f1f1 dotted 1px;
  padding: 5px;
}

.container-files:hover {
  background-color: gainsboro;
  border: blue dotted 1px;
}

.upload-file:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}
